{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
<nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav default-color">
  <!-- SideNav slide-out button -->
  {% if items %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
      {% for item in items %}
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ item.url }}">
            <i class="{{ item.title }}"></i>
          </a>
        </li>

      {% endfor %}
    </ul>
  {% endif %}
  <a href="/registrate" class="btn boton-iniciar-sesion btn-md my-2 my-sm-0 ml-3 general-hide">REGISTRO</a>
  <div class="float-right general-show" style="text-align: right;">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
  </div>
</nav>
