{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
<div id="slide-out" class="side-nav fixed">
  <ul class="custom-scrollbar">
    <!-- Logo -->
    <ul class="custom-scrollbar">
      <!-- Side navigation menus -->
      <li style="border-top: 0;">
        <ul class="collapsible collapsible-accordion">
          <li data-activates="slide-out" class="button-collapse2">
            <a class="waves-effect" style="text-align: right; border: none;">
              <i class="fas fa-caret-right"></i>
            </a>
          </li>
        </ul>
      </li>
      <!--/. Side navigation Menus-->
    </ul>
    <li>
      <div class="logo-wrapper waves-light">
        <a href="/"><img src="/sites/default/files/logo.png"></a>
      </div>
    </li>
    <!--/. Logo -->
    <!-- Side navigation links -->
    <li style="width: 70%; margin: auto;">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a href="/" class="collapsible-header waves-effect arrow-r">
            INICIO
          </a>
        </li>
        <li>
          <a href="/producto" class="collapsible-header waves-effect arrow-r">
            PRODUCTO
          </a>
        </li>
        <li>
          <a href="/promo"class="collapsible-header waves-effect arrow-r">
            PROMO
          </a>
        </li>
        <li>
          <a href="/" class="collapsible-header waves-effect arrow-r">
            TEAM MALTIN
          </a>
        </li>
        <li>
          <a href="/registrate" class="collapsible-header waves-effect arrow-r">
            REGISTRO
          </a>
        </li>
      </ul>
    </li>
    <!--/. Side navigation links -->
    <!--Social-->
    <li>
      <ul class="social">
        <li><a href="https://vm.tiktok.com/ZSaDFBGe/" class="nav-link waves-effect waves-light"><i class="fab fa-tiktok"> </i></a></li>
        <li><a href="https://www.facebook.com/MaltinBolivia" class="nav-link waves-effect waves-light"><i class="fab fa-facebook"> </i></a></li>
        <li><a href="https://www.instagram.com/Maltinbo/" class="nav-link waves-effect waves-light"><i class="fab fa-instagram"> </i></a></li>
        <li><a href="https://www.youtube.com/channel/UCfxDSUazXwETZsSKWa48-_g" class="nav-link waves-effect waves-light"><i class="fab fa-youtube"> </i></a></li>
      </ul>
    </li>
    <!--/Social-->
  </ul>
  <div class="col-lg-12 text-center menu-footer-collapse">
    <a class="" href="/terminos-y-condiciones">Términos de uso</a>
    <a class="" href="/politicas-de-privacidad">Políticas de privacidad</a>
    <a class="" href="https://www.cbn.bo/contactenos/">Contáctenos</a>
    <a class="" href="https://www.tapintoyourbeer.com/">Anheuser-Busch Inbev © 2020</a>
  </div>
  <div class="sidenav-bg mask-strong"></div>
</div>
