/* Fuentes */
@font-face {
  font-family: 'exoextrabold';
  src: url('../font/exo/exo-extrabold-webfont.woff2') format('woff2'),
  url('../font/exo/exo-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exomedium';
  src: url('../font/exo/exo-medium-webfont.woff2') format('woff2'),
  url('../font/exo/exo-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exoregular';
  src: url('../font/exo/exo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exodemibold';
  src: url('../font/exo/exo-semibold-webfont.woff2') format('woff2'),
  url('../font/exo/exo-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exoblack';
  src: url('../font/exo/exo-black-webfont.woff2') format('woff2'),
  url('../font/exo/exo-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exobold';
  src: url('../font/exo/exo-bold-webfont.woff2') format('woff2'),
  url('../font/exo/exo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Nav + header */

.bar-navigation {
  width: 100%;
  background: #FF5100;
}

.bar-menu {
  width: 100%;
  text-transform: uppercase;
  font-family: 'exoextrabold';
  font-size: 18px !important;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.bar-menu a {
  position: relative;
  z-index: 2;
  color: white;
}

.bar-menu-border {
  border: 1px solid white;
}

.bar-menu-show {
  display: none;
}

.bar-title {
  background: #FF5100;
  display: none;
}

.boton-iniciar-sesion {
  text-transform: uppercase;
  font-family: 'exoextrabold';
  font-size: 16px !important;
  box-shadow: none;
  background: #005D30;
  line-height: 48px;
  margin: 0;
  margin-left: 20px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.default-color {
  background-color: #00833E !important;
}

.fa-caret-right {
  font-size: 20px !important;
  margin-right: 25px !important;
  padding: 2px 7px 2px 10px;
  border-radius: 50%;
  border: 2px solid white;
}


.image-bar-menu img {
  width: 100%;
  height: auto;
}

.logo {
  width: 60%;
  text-align: center;
  position: absolute;
  z-index: 1;
  margin-left: 20%;
  margin-right: 20%;
}

.menu-footer-collapse a {
  padding-left: 0;
  height: auto;
  width: 100%;
  line-height: 16px;
  color: white;
  font-family: 'exoregular';
  font-size: 12px;
  text-transform: uppercase;
}

.navbar {
  height: 70px;
  padding: .5rem 0;
}

.navbar-brand {
  margin-top: 1rem;
  margin-right: 0;
}

.navbar-brand img {
  height: 100px;
  position: relative;
  z-index: 1;
}

.navbar .nav-item .nav-link .fab {
  color: white;
}

.nav-item.active > .nav-link {
  background-color: rgba(0, 93, 48, 0.6);
  color: #FF5100;
  border-radius: 15px;
  padding: .5rem 20px;
}

.navbar .nav-item .nav-link {
  font-family: 'exoextrabold';
  text-transform: uppercase;
  font-size: 14px;
}

.navbar .nav-item .nav-link .fab {
  border-radius: 50%;
  border: 1px solid;
  padding: 6px;
}

.navbar.navbar-dark .navbar-toggler {
  color: #fff;
  width: 100%;
  text-align: right;
}

.side-nav {
  padding-bottom: 0;
}

.side-nav ul {
  margin-bottom: 0;
}

.side-nav .social {
  border-bottom: 0;
}

.side-nav .logo-wrapper a {
  height: 80px;
  width: 100%;
  text-align: center;
}

.side-nav .logo-wrapper img {
  padding-top: 0px;
  padding-bottom: 0px;
  width: auto;
  height: 100px;
}

.side-nav .collapsible li a:hover {
  background-color: transparent;
}

.side-nav .logo-wrapper {
  height: 110px;
  margin-top: -20px;
  border-bottom: 0px;
}

.side-nav .collapsible a {
  color: #fff;
  font-family: 'exoextrabold';
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  padding-left: 0;
  text-align: left;
}


.side-nav .collapsible {
  margin-top: 0;
}

.side-nav .social li {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 0;
  margin: 0;
}

#slide-out {
  width: 100% !important;
  text-align: center;
  background: #00833E;
}

.social .nav-link .fab {
  border-radius: 50%;
  border: 1px solid #005D30;
  padding: 6px;
  background: #005D30;
  font-size: 18px;
  margin: 0 5px;
}

.image-bar-background {
  background-image: url(/sites/default/files/promohome.png);
  background-size: 100% 100%;
  height: 93%;
}

.image-bar-background .view .flex-center p, .image-bar-menu .view .flex-center p {
  margin: 0;
  margin-top: 240px;
  background: #F1004B;
  color: white !important;
  padding: 10px 30px;
  font-weight: bold;
  font-family: 'exoextrabold';
  font-size: 20px;
}

.image-bar-background .view .flex-center p a, .image-bar-menu .view .flex-center p a {
  color: white !important;
  text-transform: uppercase;
}

@media (max-width: 2500px) {
  .image-bar-background {
    height: 94%;
  }
}

@media (max-width: 1500px) {
  .image-bar-background {
    height: 92%;
  }
}

@media (max-width: 1200px) {
  .image-bar-background {
    height: 90%;
  }
}


@media (max-width: 992px) {
  .bar-menu-mobile {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 38px !important;
  }

  .bar-menu-mobile2 {
    font-size: 38px !important;
  }

  .bar-menu-hide {
    display: none;
  }

  .bar-menu-show {
    display: block;
  }

  .bar-title {
    display: block;
  }

  .double-nav .button-collapse {
    left: 0px;
  }
  .navbar{
    height: auto;
  }
  .logo {
    width: auto;
    text-align: initial;
    margin-right: 0;
    margin-left: 0;
  }

  .logo-mobile {
    float: left;
    margin-top: .3rem;
    margin-left: 1rem;
    text-align: left;
  }
  .logo-mobile img{
    width: 100px;
    height: auto;
  }

  .menu-apagar {
    display: none;
  }

  .no-bar-navigation {
    display: none;
  }
}


@media (max-width: 640px) {
  .bar-menu-mobile {
    font-size: 20px !important;
  }

  .bar-menu-mobile2 {
    font-size: 20px !important;
  }
}


/* Footer */

footer .nav-link .fab {
  border-radius: 50%;
  border: 1px solid #333333;
  padding: 6px;
  background: #333333;
}

footer .nav-link {
  display: inline;
}

footer.page-footer a {
  color: #fff;
  font-family: 'exomedium';
}

@media (max-width: 992px) {
  .nav-footer {
    display: block !important;
    padding: 0 1rem;
  }

  .social-footer {
    margin-bottom: 20px;
  }

}

/* Generales */

.background-green {
  background-color: #7BC10C;
  padding: 80px 0;
}

.background-green2 {
  background-color: #022322;
  padding: 80px 0;
}

.background-grey {
  background-color: #D9EDE2;
  padding: 80px 0;
}

.background-white {
  background-color: #ffffff;
  padding: 80px 0;
}

.general-show {
  display: none;
}

.fondo-difuminado {
  padding: 80px 0;
  background: url(/sites/default/files/2020-09/fondo-difuminado.jpg);
  background-size: cover;
  background-position: center center;
}

.fondo-registro {
  padding: 80px 0;
  background: url(/sites/default/files/2020-09/fondo-registro.jpg);
  background-size: cover;
  background-position: center center;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.height-100 {
  height: 100vh;
}

.centrar {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.custom-control-label::after {
  margin: 0;
}


@media (max-width: 1140px) {
  .no-container {
    max-width: 97%;
    padding-right: 0;
    padding-left: 0;
  }

  .background-green2 {
    padding-bottom: 0;
  }

}

@media (max-width: 992px) {
  .background-grey, .background-white, .background-green {
    padding: 20px 0;
  }

  .general-show {
    display: inline-block;
  }

  .general-hide {
    display: none !important;
  }

  .orden-2 {
    order: 2;
  }

}


/* 404 */

.titulo-404 {
  text-align: right;
  font-size: 50px;
  font-family: 'exobold';
  letter-spacing: 8px;
  line-height: 60px;
  margin-top: 80px;
  color: white;
  text-transform: uppercase;
}

.titulo-404 span {
  color: #FF5100;
}


@media (max-width: 992px) {

  .titulo-404 {
    margin-top: 0px;
    text-align: center;
  }

}

@media (max-width: 380px) {

  .titulo-404 {
    letter-spacing: 0;
    font-size: 50px;
    line-height: initial;
  }

}

/* producto */

.lata {
  margin-top: -150px;
  position: absolute;
  width: 100%;
}

.title-product {
  font-family: 'exodemibold';
  color: black;
  font-size: 28px;
  padding: 30px 60px;
}

.title-product img {
  vertical-align: middle;
  width: 70%;
  margin-left: 5%;
}

.title-video {
  font-family: 'exodemibold';
  color: black;
  font-size: 38px;
  padding: 30px 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 42px;
  text-align: center;
}

.text-product {
  font-family: 'exoregular';
  color: black;
  font-size: 16px;
  padding: 5px 60px;
  line-height: 28px;
}

.text-product strong {
  font-family: 'exodemibold';
  color: black;
  font-size: 28px;
}

.triangule {
  width: 100%;
  display: block;
  background: #D9EDE2;
  text-align: center;
}

.triangule img {
  margin-top: -12px;
}

.triangule2 {
  width: 100%;
  display: block;
  background: white;
  text-align: center;
}

.triangule2 img {
  margin-top: -15px;
}

.modal-open .modal {
  background: rgba(0, 131, 62, 0.5) !important;
}


@media (max-width: 1200px) {

  .title-product {
    padding: 30px 20px;
  }

  .text-product {
    padding: 5px 20px;
    font-size: 14px;
    line-height: 24px;
  }

}


@media (max-width: 992px) {
  .lata {
    margin-top: 20px;
    position: initial;
    width: 100%;
  }

  .title-product, .text-product {
    text-align: center;
  }

}

@media (max-width: 768px) {

  .title-product img {
    vertical-align: middle;
    width: 50%;
    margin-left: 5%;
  }

}

@media (max-width: 640px) {

  .title-product img {
    vertical-align: middle;
    width: 30%;
    margin-left: 5%;
  }

}

/* Terminos y condiciones */

.title-bold-term {
  width: 100%;
  text-align: center;
  margin: 40px 0;
  font-family: 'exoextrabold';
  font-size: 32px;
}

.title-medium-term {
  font-family: 'exomedium';
  color: #A3A3A3;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
}


.title-regular-term {
  font-family: 'exodemibold';
  color: #717171;
  font-size: 18px;
  width: 100%;
  margin: 10px 0 0;
}

.text-term {
  font-family: 'exomedium';
  color: #A8A8A8;
  font-size: 14px;
  width: 100%;
  margin: 0 0 10px;
}

.text-term strong {
  font-family: 'exodemibold';
  color: #717171;
  font-size: 18px;
  width: 100%;
  margin: 10px 0 0;
}

.btn-warning {
  color: #fff;
  background-color: #FF5100 !important;
  font-family: 'exobold';
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
}

.btn-warning a {
  color: #fff;
}

.button-term {
  text-align: center;
  margin: 40px 0;
}

/* promo */

.background-promo {
  background: #022322;
  border-radius: 20px;
  width: 80%;
  margin: auto;
}

.button-sesion {
  text-align: center;
  margin: 0 0 20px;
}

.content-promo {
  width: 100%;
  margin: 40px 0;
}

.form-promo {
  width: 80%;
  margin-top: 20px;
}

.form-promo .form-control {
  width: 100%;
  height: calc(1em + .75rem + 2px);
  padding: .375rem .75rem;
  border: 1px solid #495057;
  border-radius: .0;
}

.form-promo .form-control input::placeholder {
  color: black !important;
}

.promo-image {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.promo-image img {
  width: 100%;
}

.title-promo {
  color: #FF5100;
  font-size: 36px;
  font-family: 'exoextrabold';
  font-style: italic;
  margin: 10px 0;
}

.title-register-promo {
  text-align: center;
  font-family: 'exobold';
  width: 100%;
  color: #00F1E9;
  font-size: 16px;
  margin-bottom: 20px;
}

.title-register-promo a {
  color: #00F1E9;
}

.title-sesion-promo {
  text-align: center;
  font-family: 'exobold';
  width: 100%;
  color: white;
  font-size: 16px;
}

.title-sesion-promo a {
  color: white;
}

.text-promo {
  font-family: 'exoregular';
  color: white;
  font-size: 14px;
  width: 90%;
}

.subtitle-promo {
  font-family: 'exobold';
  font-size: 16px;
  color: white;
  margin: 10px 0;
}

@media (max-width: 992px) {
  .form-promo {
    width: 80%;
    margin: 20px auto 0;
  }

  .promo-image {
    margin: 20px 0 0;
  }

  .text-promo {
    margin: auto;
  }


  .title-promo, .subtitle-promo, .text-promo {
    text-align: center;
  }

}

/* Alert */

.background-alert {
  background: #022322;
  border-radius: 20px;
  width: 40%;
  margin: auto;
}

.btn-alert {
  text-align: center;
  margin-top: 20px;
}

.content-alert {
  width: 100%;
  margin: 40px 0;
}

.content-alert form {
  width: 80%;
  margin: auto;
}

.content-alert input[type="checkbox"] + label {
  color: white;
}

.title-alert {
  color: #FF5100;
  font-size: 36px;
  font-family: 'exoextrabold';
  font-style: italic;
  margin: 10px 0;
  text-align: center;
}

.text-alert {
  font-family: 'exoregular';
  color: white;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: auto;
}

.subtitle-alert {
  font-family: 'exobold';
  font-size: 22px;
  color: white;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
}

@media (max-width: 992px) {
  .background-alert {
    width: 75%;
    margin: auto;
  }
}

@media (max-width: 720px) {
  .background-alert {
    width: 90%;
  }

}

/* Registro */

.background-register {
  background: #022322;
  border-radius: 20px;
  width: 80%;
  margin: 0;
  padding: 40px 40px;
  position: relative;

}

.lata-register {
  position: absolute;
  right: -260px;
  top: 0;
}

.lata-register img {
  width: 90%;
}

.formulario {
  width: 90%;
  margin: 0 auto;
}

.formulario hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 3px solid white;
}

.formulario input::placeholder {
  color: black !important;
  font-family: 'exoregular';
  font-size: 14px;
}

.formulario input[type=text], .formulario input[type=tel], .formulario input[type=password], .formulario input[type=email] {
  width: 100%;
}

.formulario select {
  width: 100%;
  padding: 1px 0;
  height: 30px;
  font-family: 'exoregular';
  font-size: 14px;
}

.title-register {
  color: #FF5100;
  font-size: 25px;
  font-family: 'exoextrabold';
  font-style: italic;
  margin: 10px 0;
}

.title-register-primary {
  width: 100%;
  text-align: center;
}

.text-register {
  font-family: 'exoregular';
  color: white;
  font-size: 14px;
  width: 95%;
  margin-bottom: 20px;
}

.text-register-azul {
  color: #00F1E9;
}

.text-register-fucsia {
  color: #FF0050;
}

.register {
  margin: 10px 0 40px;
  text-align: center;
  width: 100%;
}

.register a {
  margin: 0 5px;
  font-family: 'exoregular';
  font-size: 16px;
}

.subtitle-register {
  font-family: 'exobold';
  font-size: 18px;
  color: white;
  margin: 10px 0;
}

.term-register {
  color: #00F1E9;
  font-family: 'exoregular';
  font-size: 14px;
  margin: 20px 0;
}

.check-register {
  color: white;
  font-family: 'exoregular';
  font-size: 14px;
  padding-top: 7px;
}

.btn-secondary {
  background-color: #FF004F !important;
}

@media (max-width: 992px) {
  .lata-register {
    display: none;
  }

  .background-register {
    width: 100%;
  }

  .formulario {
    width: 100%;
    margin: 20px auto;
  }
}

.modal-body {
  background: #FF5100;
  border-radius: 15px;
  text-align: center;
}

.modal-dialog .modal-content .modal-header {
  background: transparent;
  border-bottom: 0;
}

.modal-dialog .modal-content {
  box-shadow: none;
}

.modal-content {
  background-color: transparent;
}

.modal-header .close {
  padding: 0.2rem 0.5rem;
  margin: -1rem -1rem .2rem auto;
  background: #FF5100;
  opacity: 1;
  color: white;
}

.md-form input[type="email"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default) {
  border: 4px solid #fff;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}

.modal-body .form-control {
  width: 80%;
  margin: auto !important;
}

.modal-body input::placeholder {
  color: white !important;
}

.btn-outline-primary {
  color: #FF5100 !important;
  background-color: transparent !important;
  border: 2px solid white !important;
  background: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: transparent !important;
  border-color: white !important;
}

.no-background {
  background-color: transparent !important;
  box-shadow: none;
}

.transparent {
  visibility: hidden;
}

.link-login {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.form-text {
  margin-top: 0;
}

.captcha {
  color: white;
  padding-bottom: .5rem;
}
.captcha input{
  color: black;
}
