 <!--Section -->
 <section class="background-green2">
  <div class="container no-container">
    <div class="row">
      <div class="col-lg-7 col-md-12 text-center orden-2">
        <img src="{{ file_url(content.field_imagen_desk_['#items'].entity.uri.value) }}" class="general-hide"  alt="" width="100%">
        <img src="{{ file_url(content.field_imagenmovilerror['#items'].entity.uri.value) }}" class="general-show" alt="" width="100%">
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="titulo-404">
          {{ content.body.0 }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section -->