  <div class="bar-navigation no-bar-navigation">
    <div class="row no-margin no-padding">
      <div class="col-md-6 no-padding">
        <div class="row no-margin no-padding">
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/">INICIO</a>
            </div>
          </div>
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/producto">PRODUCTO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding bar-menu-border">
        <div class="bar-menu">
          <a href="/">PROMO</a>
        </div>
      </div>
    </div>
  </div>
  <!--Section -->
  <section class="fondo-difuminado">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="background-promo">
            <div class="row no-margin">
              <div class="col-lg-6 col-md-12">
                <div class="promo-image">
                  <img src="{{ file_url(content.field_imagen['#items'].entity.uri.value) }}" alt="Concurso TikTok">
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="content-promo">
                  <div class="title-promo">
                    {{content.field_titulo.0 }}
                  </div>
                  <div class="subtitle-promo">
                    {{content.field_subtitulo.0 }}
                  </div>
                  <div class="text-promo">
                    {{ content.body.0 }}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="title-register-promo">
                  {{content.field_link_promo.0 }}
                </div>
              </div>
            </div>
            <div class="row no-margin">
              <div class="col-lg-6 col-md-12">
                <div class="title-sesion-promo">
                  {{content.field_link_promo.4 }}
                </div>
                <div class="button-sesion">
                  <a href='{{content.field_link_promo.0 }}'><button type="button" class="btn btn-warning btn-rounded">{{content.field_link_promo.2 }}</button></a>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="title-sesion-promo">
                  {{content.field_link_promo.1 }}
                </div>
                <div class="button-sesion">
                  <a href='{{content.field_link_promo.0 }}'><button type="button" class="btn btn-warning btn-rounded">{{content.field_link_promo.3 }}</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--/Section -->
