  <div class="bar-navigation no-bar-navigation">
    <div class="row no-margin no-padding">
      <div class="col-md-6 no-padding">
        <div class="row no-margin no-padding">
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/">INICIO</a>
            </div>
          </div>
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/producto">PRODUCTO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding bar-menu-border">
        <div class="bar-menu">
          <a href="/">PROMO</a>
        </div>
      </div>
    </div>
  </div>
<!--Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-bold-term">
          {{ label }}
        </div>
        <div class="title-medium-term">
          {{content.field_sub.0 }}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="title-regular-term">
          <!-- sub title -->
        </div>
        <div class="text-term">
          {{ content.body.0 }}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="button-term">
          <button type="button" class="btn btn-warning btn-rounded">{{content.field_link.0 }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section -->
