<div class="bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-12 col-lg-6 col-xl-6 no-padding">
      <div class="row no-margin no-padding">
        {% for item in node.field_seccion_izquierda %}
          {% if loop.index == 1 %}
            <div class="col-md-12 col-lg-6 col-xl-6 no-padding bar-menu-border">
              <div class="bar-menu">
                <a href="{{ item.entity.field_link.0.url }}"> {{ item.entity.field_titulo.value }}</a>
              </div>
              <div class="image-bar-menu bar-menu-hide">
                <a href="{{ item.entity.field_link.0.url }}">
                  <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" alt="Maltín Alimenta tu energía"
                       class="img-fluid">
                </a>
              </div>
            </div>
          {% endif %}
          {% if loop.index == 2 %}
            <div class="col-md-12 col-lg-6 col-xl-6 no-padding bar-menu-border default-color">
              <div class="bar-menu bar-menu-mobile">
                <a href="{{ item.entity.field_link.0.url }}">{{ item.entity.field_titulo.value }}</a>
              </div>
              <div class="image-bar-menu bar-menu-mobile">
                <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" alt="Producto Team Maltín"
                     class="img-fluid bar-menu-hide">
                <img src="{{ file_url(item.entity.field_mobil.entity.fileuri) }}" alt="Producto Team Maltín"
                     class="img-fluid bar-menu-show">
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% for item in node.field_seccion_izquierda %}
        {% if loop.index == 3 %}
          <div class="row no-margin no-padding bar-menu-hide">
            <div class="col-md-12 no-padding bar-menu-border default-color">
              <div class="bar-menu">
                <a href="{{ item.entity.field_link.0.url }}">{{ item.entity.field_titulo.value }}</a>
              </div>
              <div class="image-bar-menu">
                <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" alt="Team Maltín" class="img-fluid">
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6 no-padding bar-menu-border default-color">
      {% for item in node.field_derecha %}
        <div class="bar-menu bar-menu-mobile">
          <a href="{{ item.entity.field_link.0.url }}">{{ item.entity.field_titulo.value }}</a>
        </div>
        <div class="image-bar-background bar-menu-mobile">
          <div class="view" style="height: 100%;">
            <div class="mask flex-center">
              <p class="white-text"><a href="{{ item.entity.field_link.0.url }}"> Participa aquí</a></p>
            </div>
          </div>
          <img src="{{ file_url(item.entity.field_mobil.entity.fileuri) }}" alt="" class="img-fluid bar-menu-show">
        </div>
      {% endfor %}
    </div>
    <div class="col-md-12 no-padding bar-menu-border default-color bar-menu-show">
      {% for item in node.field_derecha %}
        <div class="image-bar-menu">
          <div class="view">
            <img src="{{ file_url(item.entity.field_imagen.entity.fileuri) }}" class="img-fluid" alt="placeholder">
            <div class="mask flex-center">
              <p class="white-text"><a href="{{ item.entity.field_link.0.url }}"> Participa aquí</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
      {% for item in node.field_seccion_izquierda %}
        {% if loop.index == 3 %}
          <div class="bar-menu bar-menu-mobile2">
            <a href="{{ item.entity.field_link.0.url }}">{{ item.entity.field_titulo.value }}</a>
          </div>
          <div class="image-bar-menu">
            <img src="{{ file_url(item.entity.field_mobil.entity.fileuri) }}" alt="Team Maltín" class="img-fluid">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
