  <div class="bar-navigation no-bar-navigation">
    <div class="row no-margin no-padding">
      <div class="col-md-6 no-padding">
        <div class="row no-margin no-padding">
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/">INICIO</a>
            </div>
          </div>
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/producto">PRODUCTO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding bar-menu-border">
        <div class="bar-menu">
          <a href="/">PROMO</a>
        </div>
      </div>
    </div>
  </div>
<!--Section -->
<section class="fondo-difuminado">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="background-promo">
          <div class="row no-margin">
            <div class="col-lg-6 col-md-12">
              <div class="promo-image">
                <img src="{{ file_url(content.field_imagen_['#items'].entity.uri.value) }}" alt="">
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="content-promo">
                <div class="title-promo">
                  {{content.field_concurso.0 }}
                </div>
                <div class="subtitle-promo">
                  {{content.field_con.0 }}
                </div>
                <div class="text-promo">
                  {{ content.body.0 }}
                </div>
                <div class="form-promo">
                  <form class="text-center" action="#!">
                    formulario quemado
                    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Link TikTok">
                    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Link Instagram">
                    <div class="subtitle-promo text-center">
                      {{content.field_copy.0 }}
                    </div>
                    <button type="button" class="btn btn-warning btn-rounded">{{content.field_btn_participar_	.0 }}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Section -->
