  <!--/.Double navigation-->
  <div class="bar-navigation no-bar-navigation">
    <div class="row no-margin no-padding">
      <div class="col-md-6 no-padding">
        <div class="row no-margin no-padding">
          <div class="col-md-6 no-padding bar-menu-border default-color">
            <div class="bar-menu">
              <a href="/">INICIO</a>
            </div>
          </div>
          <div class="col-md-6 no-padding bar-menu-border ">
            <div class="bar-menu">
              <a href="/producto">PRODUCTO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding bar-menu-border default-color">
        <div class="bar-menu">
          <a href="/promo">PROMO</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bar-title">
    <div class="bar-menu">
      PRODUCTO
    </div>
  </div>
  <!--Section -->
  <section class="background-green">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <img src="{{ file_url(content.field_imagenproducto['#items'].entity.uri.value) }}" class="general-hide" alt="" width="90%">
          <img src="{{ file_url(content.field_imagenprodmovil['#items'].entity.uri.value) }}" class="general-show" alt="" width="80%">
        </div>
        <div class="col-sm">
          <div class="text-product">
            {{content.field_texto.0 }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="triangule">
    <img src="/sites/default/files/triangulo.png" alt="">
  </div>
  <!--/Section -->
  <!--Section -->
  <section class="background-grey">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-product">
            {{content.field_texto.1 }}
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <div class="lata">
            <img src="{{ file_url(content.field_imagenlata['#items'].entity.uri.value) }}" alt="" width="52%">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="triangule2">
    <img src="/sites/default/files/triangule2.png" alt="">
  </div>
  <!--/Section -->
  <!--Section -->
  <section class="background-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 text-center orden-2">
          <div class="video">
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Body-->
                  <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="{{ node.field_urlvideo.0.url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
            <!--Modal: Name-->
            <a>
              <img width="100%" class="img-fluid " src="{{ file_url(content.field_imagenvideo['#items'].entity.uri.value) }}" alt="video" data-toggle="modal" data-target="#modal1">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="title-video">
            {{content.field_texto.2 }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Section -->
