<div class="bar-navigation no-bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-6 no-padding">
      <div class="row no-margin no-padding">
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/">INICIO</a>
          </div>
        </div>
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/producto">PRODUCTO</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding bar-menu-border">
      <div class="bar-menu">
        <a href="/">PROMO</a>
      </div>
    </div>
  </div>
</div>
<section class="fondo-difuminado">
  <div class="container height-100">
    <div class="row centrar">
      <div class="col-md-12">
        <div class="background-alert">
          <div class="row no-margin">
            <div class="col-md-12">
              <div class="content-alert">
                <div class="text-alert">
                </div>
                <div class="subtitle-alert" style="margin-bottom: 20px;">
                  Estás autorizando a tu hijo para inscribirte en el concurso TikTok.
                </div>
                {{ form }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
