<div class="bar-navigation no-bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-6 no-padding">
      <div class="row no-margin no-padding">
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/">INICIO</a>
          </div>
        </div>
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/producto">PRODUCTO</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding bar-menu-border">
      <div class="bar-menu">
        <a href="/">PROMO</a>
      </div>
    </div>
  </div>
</div>
<section class="fondo-difuminado">
  <div class="row centrar m-0">
    <div class="col-md-12">
      <div class="background-alert">
        <div class="row">
          <div class="col-md-12">
            <div class="modal-content">
              <div class="modal-body">
                <h4 class="modal-title w-100 font-weight-bold text-center"
                    style="text-transform: uppercase; color: white;">
                  Iniciar Sesión</h4>
                {{ form }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
