<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <style type="text/css">
    .ReadMsgBody {
      width: 100%;
      background-color: #ffffff;
    }

    .ExternalClass {
      width: 100%;
      background-color: #ffffff;
    }

    body {
      width: 100%;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      font-family: Verdana, Times, serif
    }

    table {
      border-collapse: collapse;
    }

    @media only screen and (max-width: 640px) {
      .deviceWidth {
        width: 100% !important;
        padding: 0;
      }

      .center {
        text-align: center !important;
      }
    }

    @media only screen and (max-width: 479px) {
      .deviceWidth {
        width: 100% !important;
        padding: 0;
      }

      .center {
        text-align: center !important;
      }
    }

  </style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Verdana, Times, serif">
<!-- Wrapper -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

      <!-- One Column -->
      <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center"
             style="margin:0 auto;">
        <tr>
          <td valign="top" style="padding:0" bgcolor="#ffffff">
            <a href="#"><img width="100%" class="deviceWidth"
                             src="https://maltin.bo/sites/default/files/1.jpg" alt="" border="0"
                             style="display: block;"/></a>
          </td>
        </tr>
        <tr>
          <td
            style="font-family: Verdana, Times, serif; line-height: 24px; padding: 10px 8px 10px 8px; text-align: center;">

            <p style="text-transform: uppercase;font-size: 28px; color: #FF5100; letter-spacing: -1px;">Gracias por
              participar</p>
            <div
              style="width: 70%; margin: auto; background: #022322; padding: 10px 0; border-radius: 20px; color: white; font-size: 16px;">
              <p style="margin: auto;"> Prepárate para ganar Iphone 11</p>
              <p style="margin: auto;">y muchos aros de luz</p></div>
            <p><img width="100px" src="https://maltin.bo/sites/default/files/check.png" alt=""></p>
            {% if type == 'forgot' %}
              <p style="text-transform: uppercase; font-size: 28px; color: #FF5100; letter-spacing: -1px;">Tu contraseña
                es:
                <span style="color: #022322; text-transform: none;">{{ name }}</span></p>
            {% elseif type == 'approval' %}
              <p style="font-size: 28px; color: #FF5100; letter-spacing: -1px;">
                <span style="color: #022322; text-transform: uppercase;">{{ name }}</span><br> {{ link }} </p>
            {% else %}
              <p style="text-transform: uppercase; font-size: 28px; color: #FF5100; letter-spacing: -1px;">¡Felicidades
                <span style="color: #022322;">{{ name }}</span>!</p>
            {% endif %}
            <p style="font-size: 16px; color: #000000 ; width: 90%; margin: 10px auto;">Tus datos han sido registrados
              correctamente para el Concurso <span style="color: #FF5100;">Maltín</span> y <span
                style="color: #FF5100;">Tik Tok.</span></p>
            <p style="font-size: 16px; color: #000000 ; width: 90%; margin: 10px auto;"> Ahora podrás ganar Iphones 11 y
              anillos de luz. Continúa divirtiéndote, gana seguidores y alimenta tu energía, con <span
                style="color: #FF5100;">Maltín</span>.
            </p>
          </td>
        </tr>
      </table><!-- End One Column -->


      <div style="height:15px;margin:0 auto;">&nbsp;</div><!-- spacer -->

      <!-- One Column -->
      <table width="580" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed"
             style="margin:0 auto;">
        <tr>
          <td valign="top" style="padding:0" bgcolor="#ffffff">
            <a href="https://maltin.bo/"><img width="100%" class="deviceWidth"
                             src="https://maltin.bo/sites/default/files/2.jpg" alt="" border="0"
                             style="display: block;"/></a>
          </td>
        </tr>
      </table><!-- End One Column -->

      <!-- 4 Columns -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <table bgcolor="#000" width="580" border="0" cellpadding="10" cellspacing="0" align="center"
                 class="deviceWidth" style="margin:0 auto;">
            <tr>
              <td>
                <!-- Nav -->
                <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                  <tr>
                    <td class="center" style="font-size: 12px; color: #272727; font-weight: light; text-align: center; font-family: Verdana, Times, serif; line-height: 20px; vertical-align: middle; padding:10px 20px; letter-spacing: -1px;
                                                color: white;">
                      <a href="#" style="text-decoration: none; color: white; margin: 0 3px;">Terminos de uso</a>
                      <a href="#" style="text-decoration: none; color: white; margin: 0 3px;">Políticas de
                        privacidad</a>
                      <a href="#" style="text-decoration: none; color: white; margin: 0 3px;">Contáctenos</a>
                    </td>
                  </tr>
                </table><!-- End Nav -->

                <table width="40%" cellpadding="0" cellspacing="0" border="0" align="right" class="deviceWidth">
                  <tr>
                    <td valign="top"
                        style="font-size: 11px; color: #f1f1f1; font-weight: normal; font-family: Verdana, Times, serif; line-height: 26px; vertical-align: top; text-align:right; padding:10px 20px; "
                        class="center">

                      <a href="" style="margin: 0 5px;"><img
                          src="https://maltin.bo/sites/default/files/Facebook.png" width="21"
                          height="21" alt="RSS Feed" title="RSS Feed" border="0"/></a>

                      <a href="" style="margin: 0 5px;"><img
                          src="https://maltin.bo/sites/default/files/Instagram.png" width="21"
                          height="21" alt="Twitter" title="Twitter" border="0"/></a>

                      <a href="" style="margin: 0 5px;"><img
                          src="https://maltin.bo/sites/default/files/Twitter.png" width="21"
                          height="21" alt="Vimeo" title="Vimeo" border="0"/></a>

                      <a href="" style="margin: 0 5px;"><img
                          src="https://maltin.bo/sites/default/files/Youtube.png" width="21"
                          height="21" alt="Facebook" title="Facebook" border="0"/></a>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
        </tr>
      </table><!-- End 4 Columns -->

    </td>
  </tr>
</table> <!-- End Wrapper -->
</body>
</html>
