<div class="bar-navigation no-bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-6 no-padding">
      <div class="row no-margin no-padding">
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/">INICIO</a>
          </div>
        </div>
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/producto">PRODUCTO</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding bar-menu-border">
      <div class="bar-menu">
        <a href="/">PROMO</a>
      </div>
    </div>
  </div>
</div>
{% if type == 32 %}
<!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="subtitle-alert">
                     {{ subtitle }}
                    </div>
                    <div class="text-alert">
                    {{ message1 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }} </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
{% endif %}
{% if type == 33 %}
    <!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="title-alert">
                      {{ subtitle }}
                    </div>
                    <div class="subtitle-alert">
                      <!-- Ya estás <br> concursando <br>en la campaña -->
                      {{ message1 }}
                    </div>
                    <div class="text-alert">
                      {{ message2 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }} </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
 {% endif %}
{% if type == 61 %}
 <!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="text-alert">
                      {{ message1 }}
                    </div>
                    <div class="subtitle-alert">
                      {{ message2 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }}</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
  {% endif %}
  {% if type == 62 %}
<!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="text-alert">
                      {{ message1 }}
                    </div>
                    <div class="subtitle-alert">
                      {{ message2 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }}</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
  {% endif %}
{% if type == 64 %}
  <!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="text-alert">
                      {{ message1 }}
                    </div>
                    <div class="subtitle-alert">
                      {{ message2 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }}</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
  {% endif %}
{% if type == 6 %}
   <!--Section -->
    <section class="fondo-difuminado">
      <div class="container height-100">
        <div class="row centrar">
          <div class="col-md-12">
            <div class="background-alert">
              <div class="row no-margin">
                <div class="col-md-12">
                  <div class="content-alert">
                    <div class="subtitle-alert">
                      {{ subtitle }}
                    </div>
                    <div class="text-alert">
                      {{ message1 }}
                    </div>
                    <div class="btn-alert">
                      <a href='{{ url.0.url }}'><button style="padding: .54rem 80px;" type="button" class="btn btn-warning btn-rounded">{{ url.0.title }}</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Section -->
  {% endif %}
