<div class="bar-navigation no-bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-6 no-padding">
      <div class="row no-margin no-padding">
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/">INICIO</a>
          </div>
        </div>
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/producto">PRODUCTO</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding bar-menu-border">
      <div class="bar-menu">
        <a href="/">PROMO</a>
      </div>
    </div>
  </div>
</div>
<div class="bar-title">
  <div class="bar-menu">
    PROMO
  </div>
</div>

<!--Section -->
<section class="fondo-registro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-register-primary">
          <img src="/sites/default/files/title-register.png" alt="">
        </div>
        <div class="register">
          <a href="" class="text-register-azul">¿Ya tienes cuenta?</a>
          <a href="" class="text-register-fucsia">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="background-register">
          <div class="lata-register">
            <img src="/sites/default/files/Lata-register.png" alt="">
          </div>
          <div class="row no-margin">
            <div class="col-lg-5 col-md-12" style="border-right: 3px solid white;">
              <div class="title-register">
                Concurso TikTok
              </div>
              <div class="subtitle-register">
                ¿Cómo participo del reto <br> Maltín - Tik Tok?
              </div>
              <div class="text-register">
                Cada tres semanas lanzaremos un #RetoMaltín, graba un video siguiendo los pasos específicos para cada reto (un baile, un sketch, etc.) de la forma más creativa, súbelo a tu cuenta de Tik Tok, etiquetando a Maltín y usando el hashtag de la semana seguido por #MaltinBolivia, regístrate en esta página y participa en los sorteos de iPhone 11 y aros de luz.
              </div>
              <div class="text-register text-register-azul">
                <b>IMPORTANTE:</b> Si eres menor de edad, es obligatorio que alguno de tus padres, tutores o apoderados llenen la información. Si no fuera así, no podrás participar del concurso.
              </div>
            </div>
            <div class="col-lg-7 col-md-12">
              <div class="formulario">
                {{ form }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
