<div class="bar-navigation no-bar-navigation">
  <div class="row no-margin no-padding">
    <div class="col-md-6 no-padding">
      <div class="row no-margin no-padding">
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/">INICIO</a>
          </div>
        </div>
        <div class="col-md-6 no-padding bar-menu-border default-color">
          <div class="bar-menu">
            <a href="/producto">PRODUCTO</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding bar-menu-border">
      <div class="bar-menu">
        <a href="/">PROMO</a>
      </div>
    </div>
  </div>
</div>
<section class="fondo-difuminado">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="background-promo">
          <div class="row no-margin">
            <div class="col-lg-6 col-md-12">
              <div class="promo-image">
                <img src="/sites/default/files/promo3.png" alt="">
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="content-promo">
                <div class="title-promo">
                  Concurso TikTok
                </div>
                <div class="subtitle-promo">
                  Estás a un paso de quedar inscrito en <br> nuestro concurso Tik Tok
                </div>
                <div class="text-promo">
                  Recuerda llenar las redes de energía etiquetando a Maltín y usando el hashtag de la semana seguido por #MaltínBolivia! Completa tus datos junto al link de tu video y estás listo para participar de los sorteos de grandes premios.
                </div>
                <div class="form-promo">
                  {{ form }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
