{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container =  'container-fluid' %}

{# Main #}
{% block main %}
    <header>
      {# Header #}
      {% if page.header %}
        {% block header %}
            {{ page.header }}
        {% endblock %}
      {% endif %}
    </header>
      {# Menu #}
      {% if page.menu %}
        {% block menu %}
            {{ page.menu }}
        {% endblock %}
      {% endif %}

      {# Content #}
      {% block content %}

        {{ page.content }}
      {% endblock %}

{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="page-footer font-small blue-grey lighten-5">
      <div style="background-color: #000;">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-xl-8 col-lg-12 text-center text-xl-left mb-4 mb-xl-0 orden-2">
              {{ page.footer }}
            </div>
            <div class="col-xl-4 col-lg-12 text-center text-xl-right">
              <div class="social-footer">
                {{ page.networking_footer }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
{% endif %}
